<div id="expertsearch" class="col-md-12" data-ng-controller="RichDashboard">
    <h3 class="paddedleft"><strong>{{'label.heading.clients' | translate}}</strong>
    </h3>
    <hr/>
    <div class="clear"><br></div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.clienttrendsfor' | translate}} {{currentTenant}}
                        <select ng-model="currentTenant" ng-options="tenantName for tenantName in tenantNames" ng-change="getNoOfClients(currentTenant)"
                                class="form-control input-small-tooltip pull-right">

                        </select>
                    </h3>
                </div>
                <div class="panel-body">
                    <!--<div>
                        <button type="button" class="btn-silver btn-tooltip" data-ng-click="getWeeklyData()"><i
                                class="icon-table"></i>{{'label.button.week' | translate}}
                        </button>
                        <button type="button" class="btn-silver btn-tooltip" data-ng-click="getMonthlyData()"><i
                                class="icon-table"></i>{{'label.button.month' | translate}}
                        </button>
                        <button type="button" class="btn-silver btn-tooltip" data-ng-click="getDailyData()"><i
                                class="icon-table"></i>{{'label.button.day' | translate}}
                        </button>
                    </div>-->
                    <div style="height:250px;" id="chart">

                                <svg></svg>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.noofclients' | translate}}

                    </h3>
                </div>
                <div class="panel-body" style="min-height:310px;">
                    <h3 class="required panel-error" data-ng-show="showCollectionerror">{{'label.nodata' | translate}}</h3>
                    <div  style="margin:0px 40px 0;height: 310px;" id="clientspiechart">
                            <svg></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home" class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-bolt"></i>{{'label.heading.recentactivities' | translate}}</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#{{recent}}" data-ng-repeat="recent in recents" class="list-group-item">
                            {{recent | UrlToString | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-laptop"></i>{{'label.heading.frequentactivities' | translate}}</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#{{freq}}" data-ng-repeat="freq in frequent" class="list-group-item">
                            {{freq | UrlToString | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.amountdisbursedfortoday' | translate}}
                        <select class="form-control input-small-tooltip pull-right"
                                data-ng-options="office.id as office.name for office in offices" name="office2"
                                data-ng-change="getDisbursementOffice()" value="{{office.id}}" id="office2"
                                ng-model="officeIdDisbursed">
                            <option value="">--{{'label.menu.office' | translate}}--</option>
                        </select>
                    </h3>
                </div>
                <div class="panel-body">
                    <h3 class="required panel-error" data-ng-show="showDisbursementerror">{{'label.nodata' | translate}}</h3>
                    <div data-ng-show="!showDisbursementerror" style="margin:-42px 0 0;height: 242px;">
                        <nvd3-pie-chart
                                data="disbursedData"
                                id="piechart2"
                                width="425"
                                height="375"
                                x="xFunction()"
                                y="yFunction()"
                                tooltips="true"
                                donut="true"
                                donutRatio=".015"
                                color="colorFunctionPie()">
                            <svg height="200"></svg>
                        </nvd3-pie-chart>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div ng-controller="RichDashboard">
    <nvd3 options="noOfClientsChartOptions" data="noOfClientsChartData"></nvd3>
    </div>
</div>
