<div id="expertsearch" class="col-md-12" data-ng-controller="SavingsDashboard">
    <h3 class="paddedleft"><strong>{{'label.heading.savings' | translate}}</strong>
    </h3>
    <hr/>
    <div class="clear"><br></div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.clientsavingsfor' | translate}} {{currentTenant}}
                        <select ng-model="currentTenant" ng-options="tenantName for tenantName in tenantNames" ng-change="setSavingsData(currentTenant)"
                                class="form-control input-small-tooltip pull-right">

                        </select>
                    </h3>
                </div>
                <div class="panel-body">

                        <div style="height:250px;" id="savingsbarchart">

                            <svg></svg>


                        </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.savingsamountnow' | translate}}

                    </h3>
                </div>
                <div class="panel-body" style="min-height:310px;">
                    <h3 class="required panel-error" data-ng-show="showCollectionerror">{{'label.nodata' | translate}}</h3>
                    <div  style="margin:0px 40px 0;height: 310px;" id="savingspiechart" >


                            <svg></svg>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home" class="row">

        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.totalsavingsamount' | translate}}

                    </h3>
                </div>
                <div class="panel-body">
                    <div>

                    </div>
                    <div style="height:250px;" id="totalSavingsAmountchart">

                        <svg></svg>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.savingsballance' | translate}}
                        <select ng-model="currentTenantSavingsbyOffice" ng-options="tenantName for tenantName in tenantNames" ng-change="setSavingsBallance(currentTenantSavingsbyOffice)"
                                class="form-control input-small-tooltip pull-right">

                        </select>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table view-table table-bordered">
                        <thead>
                            <th>{{ 'label.heading.branch' | translate }}</th>
                            <th>{{ 'label.heading.savingsballance' | translate }}</th>

                        </thead>
                        <tbody ng-repeat="savingsBallance in savingsBallances">
                        <tr>
                            <td>
                                {{savingsBallance.branch}}
                            </td>
                            <td>
                                {{savingsBallance.value}}
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
