<div id="expertsearch" class="col-md-12" data-ng-controller="LoansDashboard">
    <h3 class="paddedleft"><strong>{{'label.heading.loans' | translate}}</strong>
    </h3>
    <hr/>
    <div class="clear"><br></div>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.clientloansfor' | translate}} {{currentTenant}}
                        <select ng-model="currentTenant" ng-options="tenantName for tenantName in tenantNames" ng-change="setLoansData(currentTenant)"
                                class="form-control input-small-tooltip pull-right">

                        </select>
                    </h3>
                </div>
                <div class="panel-body">

                        <div style="height:250px;" id="loansbarchart">

                            <svg></svg>


                        </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.par30' | translate}}

                    </h3>
                </div>
                <div class="panel-body" style="min-height:310px;">
                    <h3 class="required panel-error" data-ng-show="showCollectionerror">{{'label.nodata' | translate}}</h3>
                    <div  style="margin:0px 40px 0;height: 310px;" id="PAR30piechart">
                        <svg></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home" class="row">

        <div class="col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.totalloanamount' | translate}} {{currentTenant}}
                        <select ng-model="currentTenant" ng-options="tenantName for tenantName in tenantNames" ng-change="setTotalLoanAmount(currentTenant)"
                                class="form-control input-small-tooltip pull-right">

                        </select>
                    </h3>
                </div>
                <div class="panel-body">
                    <div>

                    </div>
                    <div style="height:250px;" id="totalLoanAmountchart">

                        <svg></svg>


                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'label.heading.par1' | translate}}

                    </h3>
                </div>
                <div class="panel-body">
                    <h3 class="required panel-error" data-ng-show="showCollectionerror">{{'label.nodata' | translate}}</h3>
                    <div  style="margin:0px 40px 0;height: 310px;" id="PAR1piechart">
                        <svg></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
